html,
body{
	margin: 0;
	font: 16px/20px Arial, Helvetica, sans-serif;
}
.wrapper{
	width: 100%;
	overflow: hidden;
}
.form{
	width: 360px;
	padding: 20px 20px 10px;
	float: left;
	border: 1px solid #ccc;
	border-width: 0 2px 2px 0;
	border-radius: 0 0 10px 0;
	position: relative;
	overflow: hidden;
}
.form.loading .spinner{display: block;}
.form .wrapper{
	margin: 0 0 10px;
}
.form label{
	float: left;
	width: 200px;
	padding: 3px 0;
}
.form input,
.form select{
	outline: none;
	font: 16px/20px Arial, Helvetica, sans-serif;
	float: left;
	width: 150px;
	border-radius: 5px;
}
.form input[type='submit']{
	width: 100%;
	border-radius: 0;
}
.status{
	font: 14px/18px Arial, Helvetica, sans-serif;
	float: right;
	width: calc(100% - 430px);
}
.spinner {
	width: 500px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -250px;
	display: none;
}
.double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #333;
	opacity: 0.3;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}
@-webkit-keyframes sk-bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bounce {
	0%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% {
		  transform: scale(1.0);
		  -webkit-transform: scale(1.0);
	  }
}